html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.pb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.tooltip {
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  opacity: 1;
}
.tooltip .tooltiptext {
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}
#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border: 1px solid #000;
  cursor: pointer;
}
#p {
  text-align: center;
  font-size: 1.5vw;
}
h2 {
  font-size: 3vw;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  gap: 10px;
  font-size: 1.5vw;
}
.form > div {
  display: flex;
  flex-direction: column;
}
.form input {
  border: .2vw solid #000;
}